{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid ">
<div class="row" style="padding-top: 100px; background-color: transparent;  background-image: url(../photo/back2.jpg); background-repeat: no-repeat; background-size: 100% 300px; opacity: 0.9; min-height: 300px;">
    <div class="col-12">
        <p class="h1" style="color: white; ">About Us</p>
    </div>
</div>
</div>
<div class="container">
    <div class="row ps-5 pe-5 ms-5 me-5">
        <div class="col-12 mt-5 ">
            <p class="p">Remember that feeling when you saw a ‘we are closed’ sign on the front door, the long wait for weekends to end, rushing to the library just a little before closing time, hurriedly picking up the closest book in sight, stocking up before sudden bank holidays? Then there was the crush of the bus or the chase of traffic to fight through to get there… Getting a book from the library used to be so demanding. Well, not any more!</p>
        </div>
        <div class="col-12 mt-2 ">
            <p class="p">We know how life pressures have tightened their grip on you. So while you are on a sprint routine, dreaming of getting that long awaited book on an auspicious day called the ‘I-am-not-so-busy-today day’, we have geared up to make sure that it reaches you at the speed of thought. What if we told you that you could have your most wanted selection of books delivered at your doorstep? If that sounds interesting enough, read on!</p>
        </div>
        <div class="col-12 mt-2 ">
            <p class="p"><b>BookStore<sup>TM</sup></b> an online library service where books can be ordered from a real time web-enabled catalogue. All you have to do is choose the books you want from the comfort of your home or office and your order will be delivered to you at your doorstep … and we will pick it once you are ready to receive your next delivery!</p>
        </div>
        <div class="col-12 mt-2 ">
            <p class="p"><b class="h3"  style="color: #dc3545;">&rarr;</b>  Over 25000+ brand new English & Gujarati book collection</p>
        </div>
        <div class="col-12 mt-2 ">
           <p class="p"><b class="h3" style="color: #dc3545;">&rarr;</b>  Books on more than 40 categories for all age group</p> 
        </div>
        <div class="col-12 mt-2 ">
            <p class="p"><b class="h3" style="color: #dc3545;">&rarr;</b>  Free delivery and pick up</p> 
         </div>
         <div class="col-12 mt-2 ">
            <p class="p"><b class="h3" style="color: #dc3545;">&rarr;</b>  Get requested books within 24 hrs</p> 
         </div>
         <div class="col-12 mt-2 ">
            <p class="p"><b class="h3" style="color: #dc3545;">&rarr;</b>  Keep the book as long as you want (No Late Charge)</p> 
         </div>
         <div class="col-12 mt-2 ">
            <p class="p"><b class="h3" style="color: #dc3545;">&rarr;</b>  Special collection and plans for children</p> 
         </div>
         <div class="col-12 mt-2 ">
            <p class="p"><b class="h3" style="color: #dc3545;">&rarr;</b>  Books can also be requested over phone</p> 
         </div>
        <div class="col-12 mt-2 ">
            <p class="p"><b class="h3" style="color: #dc3545;">&rarr;</b>  Live customer care support</p>
        </div>
        <div class="col-12 mt-2 ">
            <p class="h4 fw-bold">And More….</p>
        </div>
        <div class="col-12 mt-2 ">
            <p class="h5 fw-bold">Share your book collection and Earn!!</p>
        </div>
        <div class="col-12 mt-2 ">
            <p class="p">You may have pile of best books which you have already read & lying unused now. They say that your books are your love which stops you to give it to 'Pastiwala'. You are in dilemma on what to do with piles of books??</p>
        </div>
        <div class="col-12 mt-2 ">
            <p class="p">After being into the market since so long, we read your problems correctly. We have designed 'Share & Earn' Plan to solve the problem.</p>
        </div>
        <div class="col-12 mt-2 ">
            <p class="p">You share the knowledge with other readers by sharing your unused books Moreover, it frees your real estate & makes your earn as well!!
            </p>
        </div>
        <div class="col-12 mt-2 ">
            <p class="p">You can get it back when you need it</p>
        </div>
        
    </div>
</div>
    

{% endblock%}