{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid ">
<div class="row" style="padding-top: 100px; background-color: transparent;  background-image: url(../photo/back2.jpg); background-repeat: no-repeat; background-size: 100% 300px; opacity: 0.9; min-height: 300px;">
    <div class="col-12">
        <p class="h1" style="color: white; ">
            Contact Us</p>
    </div>
</div>
</div>
<div class="container">
    <div class="row ps-5 pe-5 ms-5 me-5">
        <div class="col-12 mt-5 pt-5">
            <p class="p"><b>You may contact us using the information below:</b><br><br>Merchant Legal entity name: BAESOCIAL PRIVATE LIMITED<br>Registered Address: 633, 19th Main Road,24th Cross, Bengaluru Bengaluru Urban KARNATAKA 560070<br>Operational Address: 633, 19th Main Road,24th Cross, Bengaluru Bengaluru Urban KARNATAKA 560070<br>Telephone No:1010101010<br>E-Mail ID: customercare@justbooksclc.com</p>
        </div>
    </div>
</div>
    

{% endblock%}