{% extends 'layout.html' %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >
  <!-- <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" ></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div> -->
  <div class="carousel-inner" style="min-height:380px; background-color: rgb(244, 244, 244);">
    <div class="carousel-item active">
        <div class="row ">
          <div class="col-2">

          </div>
          <div class="col-4">
              <div class="row mt-5 pt-5">
                <div class="col-12">
                  <p class="h1 ps-5" style="color: #dc3545; font-family: Lato,sans-serif"><b>India's Online <br>Book Rental Service</b> </p>
                </div>
                <div class="col-12">
                  <p class="h5 ps-5" style=" font-family: Lato,sans-serif">Start Reading With BookStore </p>
                </div>
                <div class="col-12">
                  <a href="signup" class="btn btn-danger ms-5 w-25">Sign Up Now</a>
                  
                </div>
              </div>
          </div>
          <div class="col-6">
            <img src="../photo/book1.png" alt="Logo" class="img ms-5 ps-5">
          </div>
        </div>
    </div> 
    
    
      <div class="carousel-item">
          <div class="row ">
            <div class="col-2">
  
            </div>
            <div class="col-4">
                <div class="row mt-5 pt-5">
                  <div class="col-12">
                    <p class="h1 ps-5" style="color: #dc3545; font-family: Lato,sans-serif"><b>The More You Read <br>The Less You Pay</b> </p>
                  </div>
                  <div class="col-12">
                    <p class="h5 ps-5" style=" font-family: Lato,sans-serif">Explore Our Flexible reading plan and see<br> what suits You</p>
                  </div>
                  <div class="col-12">
                    <a href="login" class="text-danger ps-5">Rent Now</a>
                  </div>
                </div>
            </div>
            <div class="col-6">
              <img src="../photo/book.png" alt="Logo" class="img ms-5 ps-5  ">
            </div>
          </div>
      </div>
      
      <div class="carousel-item">
        <div class="row ">
          <div class="col-2">

          </div>
          <div class="col-4">
              <div class="row mt-5 pt-5">
                <div class="col-12">
                  <p class="h1 ps-5" style="color: #dc3545; font-family: Lato,sans-serif"><b>It's as Easy as <br>1,2,3..</b> </p>
                </div>
                <div class="col-12">
                  <p class="h5 ps-5" style=" font-family: Lato,sans-serif">3 steps to embark to Your Reading <br>Journey</p>
                </div>
                <div class="col-12" style="min-height: 10px;"></div>
                <div class="col-12">
                  <a href="signup" class="btn btn-danger ms-5 w-25 rounded-pill">Sign Up</a>
                  
                </div>
              </div>
          </div>
          <div class="col-6 ">
            <div class="row mt-5 pt-5">
            <div class="col-1">
              <p class="h2" style="color: #dc3545; font-family: Lato,sans-serif"><b>1.</b> </p>
            </div>
            <div class="col-11 ps-0">
              <p class="h6 pt-2 ps-0 " style=" font-family: Lato,sans-serif">Find a Book You Want To Read.</p> 
            </div>

            <div class="col-1">
              <p class="h2" style="color: #dc3545; font-family: Lato,sans-serif"><b>2.</b> </p>
            </div>
            <div class="col-11 ps-0">
              <p class="h6 pt-2 ps-0 " style=" font-family: Lato,sans-serif">Get It Delivered to Your Doorsteps for Free!.</p> 
            </div>

            <div class="col-1">
              <p class="h2" style="color: #dc3545; font-family: Lato,sans-serif"><b>3.</b> </p>
            </div>
            <div class="col-11 ps-0">
              <p class="h6 pt-2  ps-0" style=" font-family: Lato,sans-serif">Exchange it For Your Next Read, Form The Comfort at Your Home. </p> 
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <!-- <div class="carousel-item " style="min-height: 400px;">
      <img src="..." class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div> -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon rounded-pill bg-dark" aria-hidden="true" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon rounded-pill bg-dark" aria-hidden="true" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-fluid  pt-5 mb-5 ms-5 ">
    <div class="row">
      <div class="col-12">
        <p class="h4 mb-3">New Arrivals</p>
      </div>
    </div>
        
  <div class="row gy-5" >
      {% for i in data %}
              <div class="col-3 me-5" style="max-height: 225px; max-width: 320px; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                  <div class="row g-0  position-relative w-100 h-100" style="border-radius: 10px; background-color: white;">
                      <div class="col-5 ">
                          <img src="{{i.image.url}}" class="w-100 h-100 pt-2 pb-2" style="border-radius: 15px;"  alt="...">
                      </div>
                      <div class="col-7 pt-4 ps-4">
                          <h5 class="mt-3" style="text-overflow: ellipsis; overflow: hidden; max-height: 70px;">{{i.name}}</h5>
                          <a href="login" class="stretched-link btn btn-outline-danger w-75 mt-3" style="border-radius: 20px;">Rent</a>
                      </div>
                  </div>
              </div>
  {% endfor %}

</div>
</div>

<div class="carousel-inner " style="min-height:300px; background-color: rgb(244, 244, 244);">
  <div class="carousel-item active">
      <div class="row ">
        <div class="col-2">

        </div>
        <div class="col-4">
            <div class="row mt-5 ">
              <div class="col-12">
                <p class="h1 ps-5" style="color: #dc3545; font-family: Lato,sans-serif"><b>Spread The Joy Of Reading</b> </p>
              </div>
              <div class="col-12">
                <p class="h6 ps-5" style=" font-family: Lato,sans-serif">Let the pages that inspire you inspire the next generation of readers. Donate your favourite books to our library </p>
              </div>
              <!-- <div class="col-12">
                <a href="signup" class="btn btn-danger ms-5 w-25">Sign Up Now</a>
                
              </div> -->
            </div>
        </div>
        <div class="col-6">
          <img src="../photo/book2.png" alt="Logo" class="img ms-5 ps-5 mt-5 h-100">
        </div>
      </div>
  </div> 
  </div>


{% endblock %}