{% extends 'master.html' %}

{% block content %}
<div class="container-fluid ">
<div class="row" style="padding-top: 100px; background-color: transparent;  background-image: url(../photo/back2.jpg); background-repeat: no-repeat; background-size: 100% 300px; opacity: 0.9; min-height: 300px;">
    <div class="col-12">
        <p class="h1" style="color: white; ">
            Shipping & Delivery Policy</p>
    </div>
</div>
</div>
<div class="container">
    <div class="row ps-5 pe-5 ms-5 me-5">
        <div class="col-12 mt-5 ">
            <p class="p">Last updated on Mar 28th 2023</p>
        </div>
        <div class="col-12 mt-2 ">
            <p class="p">For International buyers, orders are shipped and delivered through registered international courier companies and/or International speed post only. For domestic buyers, orders are shipped through registered domestic courier companies and /or speed post only.</p>
        </div>
        <div class="col-12 mt-2 ">
            <p class="p">Orders are shipped within 3-5 days or as per the delivery date agreed at the time of order confirmation and delivering of the shipment subject to Courier Company / post office norms.</p>
        </div>
        <div class="col-12 mt-2 ">
            <p class="p">BAESOCIAL PRIVATE LIMITED is not liable for any delay in delivery by the courier company / postal authorities and only guarantees to hand over the consignment to the courier company or postal authorities within 3-5 days from the date of the order and payment or as per the delivery date agreed at the time of order confirmation.</p>
        </div>
        <div class="col-12 mt-2 mb-3">
            <p class="p">Delivery of all orders will be to the address provided by the buyer. Delivery of our services will be confirmed on your mail ID as specified during registration. For any issues in utilizing our services you may contact our helpdesk on or customercare@justbooksclc.com</p>
        </div>
    </div>
</div>
    

{% endblock%}