{% extends 'layout.html' %}

{% block content %}

<!DOCTYPE html>

<div class="container">
    {% if messages != none %}
    {% if x != "true" %}
    {% for i in messages %}
    <div class="container-fluid">
        <div class="row m-1 ">
            <div class="alert {{ i.tags }} alert-dismissible fade show " role="alert">
                <strong>Hey!</strong> {{i}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    {% for i in messages %}
    <div class="container-fluid">
        <div class="row m-1 ">
            <div class="alert {{ i.tags }} alert-dismissible fade show " role="alert">
                <strong>Hey!</strong> {{i}}<a href="login" class="alert-link">Click Hear</a>.to Login
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endif %}
</div>

<div style="background-image:url('photo/signup.svg');background-repeat: no-repeat ;background-size: cover; "   >
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-5 ms-5 mt-2 mb-5  " style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; background-color: white; border-radius: 20px;">
                <form class=" mt-5 ms-5 me-5" method="post" action="insert" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="col-12 mb-5" style="color: #dc3545;">
                            <p class="h1 text-center">Welcome To Book Store</p>
                        </div>
                            <div class="col-12 mb-4">
                                <input type="text" class="form-control form-control-lg" placeholder="First Name" name="fname">
                            </div>
                            <div class="col-12 mb-4">
                                <input type="text" class="form-control form-control-lg" placeholder="Last Name" name="lname">
                            </div>
                            <div class="col-12 mb-4">
                                <input type="text" class="form-control form-control-lg" placeholder="Phone Number" name="phone">
                            </div>
                            <div class="col-12 mb-4">
                                <input type="password" class="form-control form-control-lg" placeholder="Password" name="password">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="password" class="form-control form-control-lg" placeholder="Confirm Password" name="cpassword">
                            </div>
                            <div class="col-12 text-dark mb-4">
                                <label for="formFileLg" class="form-label">Upload Photo</label>
                                <input class="form-control form-control-lg" id="formFileLg" type="file" name="image" required>
                            </div>
                            <div class="form-check text-dark form-check-inline mb-4">
                                <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1" value="male">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  MALE
                                </label>
                              </div>
                              <div class="form-check text-dark form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault2" value="female" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                  FEMALE
                                </label>
                              </div>
                              <div class="mb-5 col-12">
                                <div class="row">
                                <div class="col-6 text-white"></div>
                                <div class="col-6">
                                <button type="submit" class="btn btn-outline-danger   col-12" id="btnSignUp">Sign Up</button>  
                              </div></div>
                          </form>
                    </div>    
                </form>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript">
        $('#btnSignUp').click(()=>{
            alert("Sign Up clicked");
        })
    </script> -->


{% endblock %}